h1 {
  text-align: center;
  font-size: 3rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

button {
  width: 150px;
  height: 100px;
  font-size: 24px;
  font-weight: bolder;
  cursor: pointer;
  background-color: rgb(147, 230, 247);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(133, 131, 131);
}

button:hover {background-color: rgb(119, 185, 197);}

button:active {
  transform: translateY(4px);
  box-shadow: 0 5px rgb(133, 131, 131);
}

.rockBtn {
  color: red;
}

.paperBtn {
  color: blue;
}

.scissorBtn {
  color: green;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  gap: 16px;
}

.child-container {
  font-size: 40px;
  text-align: center;
}

body {
  background-color: beige;
}

.score {
  font-size: 34px;
}

